<!-- Advance Pipes -->
<h1>{{title | uppercase}}</h1>
<h1>{{title | slice : 1 : 5 | uppercase}}</h1>
<h1>{{user | json | uppercase}}</h1>
<h1>{{00002000.4000 | number:'3.2-3'}}</h1>
<h1>{{20 | currency:'USD'}}</h1>
<h2>{{"hey how are you" | titlecase}}</h2>

<!-- Custom pipes -->

<h1>{{345 | uSDPKR: 268}}</h1>

<!-- Form Introduction -->
<!--
There are two types of forms in Angular
1 - Reactive form
2 - template - driven form 
 -->
<!-- Data Flows from templates to class and then service(api) and lastly towards database -->

<!-- How to create basic form -->
<h1>Basic Form</h1>
<form #loginForm='ngForm' (ngSubmit)="userLogin(loginForm.control)">
  <input type="text" name="name" placeholder="Enter User-Name" ngModel>
  <br> <br>
  <input type="text" name="password" placeholder="Enter Password" ngModel>
  <br> <br>
  <button>Form Submit</button>
</form>


<!-- reacive form -->
<h2>Now Learning rective form</h2>
<form [formGroup]="formLogin" (ngSubmit)="fbLogin()">
  <input type="text" name="name" placeholder="Enter your name" formControlName="user">
  <br> <br>
  <input type="text" name="password" placeholder="Enter Password" formControlName="password">
  <br> <br>
  <button>Login</button>
  <br> <br> <br> <br>
</form>